:root {
  --color1: #ede4d0;
  --color2: pink;
  --color3: #393b4b;
  --color4: rgb(18, 19, 19);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url(./assets/images/bg.jpg) center/cover;
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--color1);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.card {
  background: rgba(0, 0, 0, 0.507);
  padding: 20px 20px 6px;
  border-radius: 10px;
  backdrop-filter: blur(3px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.425);
  width: calc(100% - 50px); /*Méthode pour effectuer des calculs complexes*/
}

.card::before {
  content: "\2730";
  position: absolute;
  top: 14px;
  right: 20px;
  font-size: 2.4rem;
}

h1 {
  margin-bottom: 24px;
  position: relative;
}

h1::after {
  content: "";
  position: absolute;
  background: var(--color2);
  height: 1px;
  width: 100%;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  animation: h1anim 1s ease-in-out forwards;
  transform-origin: center;
}

@keyframes h1anim {
  100% {
    transform: translateX(-50%) scaleX(1);
  }
}

.grid-container {
  display: grid;
  grid-template-columns: 20% 80%;
}

.polygon-container {
  filter: drop-shadow(-1px 6px 3px var(--color2));
  /*Méthode pour centrer si l'élément parent est en grid*/
  place-self: center left;
}

.polygon {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  background: linear-gradient(135deg, var(--color2) 0%, var(--color1) 100%);
  height: 100px;
  width: 100px;
}

.polygon::after {
  content: "Coucou";
  position: absolute;
  color: var(--color2);
  background: var(--color4);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(344deg);
  width: 90px;
  padding: 4px;
  text-align: center;
}

p {
  line-height: 26px;
  margin: 20px 0;
  /*Utilisation de webkit pour contenir, par exemple, un texte.*/
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-align: justify;
}

p::selection {
  background: var(--color2);
  color: var(--color3);
}

.checkbox-container {
  display: flex;
  justify-content: space-around;
  margin: 20px 0 30px;
  perspective: 30px;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + label {
  background: var(--color2);
  color: var(--color3);
  transform: scale(1.1);
  filter: brightness(120%);
}

label {
  cursor: pointer;
  border: 1px solid var(--color1);
  background: var(--color3);
  padding: 10px;
  border-radius: 5px;
  transition: 0.2s;
  user-select: none;
}

label:first-of-type:hover {
  animation: label1 1s infinite linear;
}

@keyframes label1 {
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

label:nth-child(4):hover {
  animation: label2 3s infinite linear;
}

/* Ne pas oublier la perspective sur le parent ! */

@keyframes label2 {
  33% {
    transform: translateZ(30px);
  }
  66% {
    transform: translateZ(-40px);
  }
  100% {
    transform: translateZ(0);
  }
}



.e-mail {
  text-align: center;
  margin-bottom: 20px;
}

.e-mail input {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: 3px solid transparent;
  transition: 0.3s;
  text-align: center;
  font-size: 1.1rem;
  color: var(--color1);
  width: 35%;
  max-width: 300px;
  min-width: 180px;
}

input[type="text"]:focus {
  background: transparent;
  border: 3px solid var(--color2);
  border-radius: 150px;
}

input[type="text"]::placeholder {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: var(--color2);
}

button {
  cursor: pointer;
  background: var(--color2);
  border: none;
  font-size: 1.3rem;
  padding: 10px 20px;
  border-radius: 150px;
  margin: 0 auto;
  display: block;
  transition: 0.8s;
}

button:hover {
  letter-spacing: 30px;
}

button:active {
  transform: scale(1.2);
}

button:hover + a,
a:hover {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

a {
  color: var(--color2);
  display: block;
  text-align: center;
  opacity: 0;
  transform: translateY(20px);
  transition: 0.3s;
  visibility: hidden;
}

a:visited {
  color: var(--color1);
}

img {
  height: 40px;
  position: absolute;
  filter: drop-shadow(0 6px 3px rgba(255, 255, 0, 0.6));
  z-index: -1;
  animation: spaceship 60s infinite linear;
}

@keyframes spaceship {
  0% {
    top: 2%;
    left: 2%;
    transform: rotate(90deg);
  }
  10% {
    top: 2%;
    left: 30%;
    transform: rotate(95deg);
  }
  20% {
    top: 2%;
    left: 60%;
    transform: rotate(60deg);
  }
  30% {
    top: 0%;
    left: 80%;
    transform: rotate(90deg);
  }
  40% {
    top: 40%;
    left: 120%;
    transform: rotate(110deg);
  }
  50% {
    top: 50%;
    left: 80%;
    transform: rotate(323deg);
  }
  60% {
    top: 90%;
    left: 90%;
    transform: rotate(256deg);
  }
  70% {
    top: 110%;
    left: 50%;
    transform: rotate(237deg);
  }
  80% {
    top: 85%;
    left: 30%;
    transform: rotate(200deg);
  }
  90% {
    top: 50%;
    left: 15%;
    transform: rotate(150deg);
  }
  100% {
    top: 2%;
    left: 2%;
    transform: rotate(90deg);
  }
}
